* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;


}

html{
  scroll-behavior: smooth;

}

section{
    width: 100%;
    width:100vh;
    background-image: url(image/bg1.png);
    background-size: cover;
    background-position: center;
}

section nav{
     display:flex;
     align-items: center;
      justify-content: space-around;
      box-shadow: 0 0 8px rgba(0,0,0,0.6);
      background: white;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
}

section nav .logo{
   font-size: 35px;
   color: #c72092;
   margin: 5px 0;
   cursor: pointer;
   position: relative;
   left: -4%;
}
section nav .logo span{
    color: #6c14d0;
    text-decoration: underline;
}